<b>{{ _('Thanks for registering on the %(site_name)s! We\'re glad to have you.', site_name=site.name) }}</b>
<br><br>
{{ _('Please activate your %(site_name)s account in the next %(expiration_days)d days.', expiration_days=expiration_days, site_name=SITE_NAME) }}
<br><br>
{{ _('Please click on the following link to activate your account:') }}
<p style="margin-left:1em">
      <a href="http://{{ site.domain }}/accounts/activate/{{ activation_key }}/">http://{{ site.domain }}/accounts/activate/{{ activation_key }}</a>
</p>

{# Bản gốc còn mời "reply lại email này để kích hoạt" kèm nguyên activation key.
   Đã bỏ: không có tiến trình nào đọc thư đến, MX của miền trỏ thẳng vào Google
   nên thư trả lời chỉ nằm im trong hộp noreply không ai đọc. Người dùng làm theo
   sẽ chờ vô ích. Chỉ còn đúng một cách kích hoạt, và cách đó chạy được. #}
{{ _('See you soon!') }}
{# Câu mời liên hệ chỉ hiện khi có link thật. Bản gốc để câu này ngoài {% if %},
   nên khi chưa cấu hình Discord thì thư kết thúc bằng một câu cụt "...liên hệ với
   chúng mình qua:" rồi bỏ lửng. #}
{% if misc_config.discord_invite_link and misc_config.discord_invite_shieldio %}<br>
{{ _('If you have problems activating your account, feel free to shoot us a message at: ') }}<a href="{{ misc_config.discord_invite_link }}"><img src="{{ misc_config.discord_invite_shieldio }}"></a>{% endif %}
