{% extends "blog/list.html" %}
{% block sidebar_extra %}
    {% include "hcmus/calendar-sidebox.html" %}
    {% include "hcmus/featured-rankings.html" %}
{% endblock %}
{# Thay cụm xếp hạng mặc định của vnoj bằng box của mình (luôn hiện): top rating
   mọi thời + tăng rating trong tuần. Bỏ top-contrib khỏi trang chủ theo thiết kế
   cột phải mới. #}
{% block sidebar_leaderboards %}
    {% include "hcmus/top-rating.html" %}
    {% include "hcmus/weekly-top.html" %}
{% endblock %}
{% block main_column_top %}{% include "hcmus/home-sections.html" %}{% endblock %}
{% block before_posts %}
    {% if misc_config.home_page_top %}
        {{ render_django(misc_config.home_page_top, request=request, user_count=user_count, problem_count=problem_count, submission_count=submission_count, language_count=language_count, perms=perms) }}
    {% endif %}
{% endblock %}
{% block meta %}
    {% if misc_config.meta_description %}
        <meta name="description" property="og:description" content="{{ misc_config.meta_description }}">
    {% endif %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "{{ DMOJ_SCHEME }}://{{ site.domain }}/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ DMOJ_SCHEME }}://{{ site.domain }}/problems/?search={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
{% endblock %}
